body, html {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #D9E1E4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .content {
    width: 77.7%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-bar {
      img {
        cursor: pointer;
      }
    }

    .right-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 32px;
      width: 266px;
      height: 48px;

      .menu-item {
        width: 98px;
        height: 24px;
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #0B254E;
        text-decoration: none;
      }

      .between {
        width: 0;
        height: 32px;
        border: 1px solid #D9E1E4;
      }

      .asc {
        width: 18px;

        img {
          width: 100%;
        }
      }

      .user-image {
        width: 48px;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;

  .content-desktop {
    width: 93%;
    height: 100px;
    padding-top: 53px;

    .header-content {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 76px;
      letter-spacing: -0.02em;
      color: #0B254E;
      margin: 0 auto;
    }

    .favorites-container {
      padding-top: 42px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .favorite-items {
        width: 336px;
        height: 389px;
        left: 130px;
        top: 243px;
        padding: 16px;
        margin: 31px;


        background: #FFFFFF;
        box-shadow: 0px 0px 19.6056px #A1A1A1, 0px 0px 11.2032px #A1A1A1, 0px 0px 6.5352px #A1A1A1, 0px 0px 3.2676px #A1A1A1, 0px 0px 0.9336px #A1A1A1, 0px 0px 0.4668px #A1A1A1;
        border-radius: 8px;

        .close-container {
          width: 100%;
          text-align: left;

          .close {
            img {
              width: 20px;
            }
          }
        }

        .user-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 91px;
          }

          span {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #0B254E;
            opacity: 0.5;
            margin-top: 5px;
          }

          h5 {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin: 0;
            color: #0B254E;
          }

          .handle {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            background: linear-gradient(90deg, #00AFF0 0%, #CCF1FF 100%, #BCEDFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .message {
            cursor: pointer;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            gap: 8px;
            width: 304px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #00AFF0;
            border-radius: 8px;
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #00AFF0;
            flex: none;
            order: 0;
            flex-grow: 0;

          }

          .send-tip {
            cursor: pointer;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            gap: 8px;
            width: 304px;
            height: 48px;
            background: #00AFF0;
            border-radius: 8px;
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            border: none;
          }
        }
      }
    }
  }

  .content-mobile {
    width: 100%;
    padding-top: 27px;

    .header-content {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #0B254E;
      margin: 0;
    }

    .favorites-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-inline: 19px;


      .favorite-items {
        position: relative;
        width: 134px;
        height: 190px;
        background: #FFFFFF;
        box-shadow: 0px 0px 19.6056px #A1A1A1, 0px 0px 11.2032px #A1A1A1, 0px 0px 6.5352px #A1A1A1, 0px 0px 3.2676px #A1A1A1, 0px 0px 0.9336px #A1A1A1, 0px 0px 0.4668px #A1A1A1;
        border-radius: 8px;
        padding: 10px;
        margin: 0 11px 36px 11px;

        .close-container {
          position: absolute;
          top: 10px;
          left: 10px;
          text-align: left;

          .close {
            img {
              width: 15px;
            }
          }
        }

        .user-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 58px;
          }

          h5 {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #0B254E;
            margin: 0;
          }

          .handle {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            background: linear-gradient(90deg, #00AFF0 0%, #CCF1FF 100%, #BCEDFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .message {
            cursor: pointer;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: 103px;
            height: 35px;
            background: #FFFFFF;
            border-radius: 8px;
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #00AFF0;
            border: 1px solid #00AFF0;

          }

          .send-tip {
            cursor: pointer;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: 103px;
            height: 35px;
            background: #00AFF0;
            border-radius: 8px;
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            border: none;
          }
        }


      }
    }
  }
}